<div class="text-center">
  <h1>{{name}}</h1>
  <p>{{description}}</p>
  <p>Posted by {{user.name}} 

{{#if comments.length}}<!--check if comments exist-->

  <p>Comments:{{comments}}</p>


  {{else}}<!--if no comments exist-->
  <p>No comments</p>
  
  {{/if}}

<script src="/post.js"></script>