<div class="text-center">
  <h1>{{name}}</h1>
  <p>{{description}}</p>
  <p>Posted by {{user.name}} on {{date_created}}</p>
</div>
<div>
<p>Comments:</p>
  {{#each comments as |comment|}}
  <p>Comment from {{user_id}} on {{comment.date_created}}</p>
  <p>{{comment.content}}</p>
  {{/each}}
  {{else}}
  <p>No comments</p>
  
    </div>
  </form>
</div>

<script src="/post.js"></script>